# Telegram
BOT_TOKEN=BOT_TOKEN_FROM_BOT_FATHER

# Backend API base url
# Dev with docker compose: http://api:3000 (inside docker network)
# Local dev: http://localhost:3000
API_URL=http://api:3000

# Runtime mode
# "true" enables production bot identity config.
IS_PRODUCTION=false